.FaqContainer {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.QuestionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default; /* El texto de la pregunta no es clickeable */
}

.Question {
  margin: 0;
  font-weight: 600;
}

.Arrow {
  cursor: pointer; /* Solo la flecha es clickeable */
  transition: transform 0.3s ease;
  padding: 0.5rem;
  user-select: none; /* Evita que se seleccione el texto de la flecha */
}

.Arrow:hover {
  color: #666;
}

.Active {
  transform: rotate(180deg); /* Animación de la flecha */
}

.Answer {
  padding: 1rem 0;
  color: white;
}