.footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  padding: 2rem;
  width: 100%;
}

.linksContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: fit-content;
}

.link {
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  font-size: 0.9rem;
  opacity: 0.8;
  transition: opacity 0.2s;
}

@media (min-width:750px){ 
  
  .link{
    font-size: 0.8rem;
  }
}

.link:hover {
  opacity: 1;
}

.socialSection {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.followTitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.socialLinks {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1.5rem;
}

.socialLink {
  color: #ffffff;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.socialLink:hover {
  opacity: 1;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.6;
}
